.QuantitySelector {
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(10, 20, 30, 0.2) 0 0 4px 2px;
    margin-top: 5px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add {
    background-color: cornflowerblue;
    color: #F1F2F3;
}

.remove, .add {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
}

.remove {
    background-color: lightgrey;
}