.Product {
    margin-bottom: 15px;
    display: flex;
    background-color: #F1F2F3;
    padding: 25px;
    border-radius: 10px;
    box-shadow: rgba(10, 20, 30, 0.2) 0 0 4px 2px;
}

.Product .ProductDetail {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ProductDescription {
    padding-left: 20px;
}

.like, .price {
    text-align: right;
    float: right;
}

.product_name {
    padding-left: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}

.price {
    font-size: 24px;
    font-weight: bold;
}